body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.14;
}
:root{
    --headers-font-color: #212121;
    --text-font-color:  #757575;
    --other-fonts: #2196F3;
    --buttons-hover-color: #2196F3;
}
.logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
.web-logo{
    color: var(--other-fonts);
}
.nav-list a{
    font-weight: 500;
    line-height: 1.14;
    color: var(--headers-font-color);
    text-decoration: none;
}

.our-contacts a{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--text-font-color);
    text-decoration: none;
}
.nav-list a:hover,
.our-contacts a:hover,
.our-contacts a:focus{
    color: var(--other-fonts);
    cursor: pointer;
}
.topsection{
    background-color: #2F303A;
}
.main-heading{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.service-button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #FFFFFF;
    cursor: pointer;
    background: var(--buttons-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.list{
    list-style: none;
}
.preferenses-list h3{
    font-weight: 700;
    text-transform: uppercase;
    color: var(--headers-font-color);
}
.preferenses-list p{
    line-height: 1.71;
    color: var(--text-font-color);
}
.our-works,
.team{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--headers-font-color);
    text-align: center;
}
.teamlist h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--headers-font-color);
}
.teamlist p{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-font-color);
}
.footer-logo{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    color: white;
    text-decoration: none;
}
.address{
    line-height: 1.71;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
    text-decoration: none;
}
.footer-contacts{
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
}
.footer-contacts:hover,
.footer-contacts:focus{
    color: var(--buttons-hover-color);
    cursor: pointer;
}
footer{
    background-color: #2F303A;
}
.buttons{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    color: var(--headers-font-color);
}
.buttons:hover{
    color: #FFFFFF;
    background-color: var(--buttons-hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    cursor: pointer;
}
.works-list h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--headers-font-color);
}
.works-list p{
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-font-color);
}